.env
__pycache__

1. https://jared-undeaf-jacques.ngrok-free.dev/vote#/vote

2. 깃
https://github.com/ddsntc1/exodusent_backend
https://github.com/ddsntc1/exodusent_frontend

3. 대화 내용
Backend 깃 레포 내 Procress.md 파일에 있습니다.